<!DOCTYPE html>
<html>
<head>
<title></title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"> </script>
<link type="text/css" rel="stylesheet" href="blog.css"/>
</head>
<body>

<% if(blogPosts != undefined) {%>

<% for (var i=0; i < blogPosts.length; i++) 
{ %>

<div class="blogpost">
	<h1><%= blogPosts[i].title %></h1>
	<h5><%= blogPosts[i].body %></h5>
	<p><%= blogPosts[i].date %></p>
</div>

<% } %> 

<% }%>

</body>

</html>